.crsbtn{
 background-color: rgb(195, 198, 23);
 margin: 10px;
 padding: 10px;
 width: 100px;
 color: black;
 border-radius: 30px;
 cursor: pointer;
 transition: all 0.5s;
}
.crsbtn:hover{
    background-color: #fff
    
}
.detail{
    display: block;
    justify-content: left;
    text-align: left;
    margin-left: 20px;
    font-size: medium;
    font-weight: 10px;
}
.card-container:hover{
    background-color: #fff;
}